
/*--reset--*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--start editing from here--*/
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */
.txt-lt {
    text-align: left;
}

/* text align left */
.txt-center {
    text-align: center;
}

/* text align center */
.float-rt {
    float: right;
}

/* float right */
.float-lt {
    float: left;
}

/* float left */
.clear {
    clear: both;
}

/* clear float */
.pos-relative {
    position: relative;
}

/* Position Relative */
.pos-absolute {
    position: absolute;
}

/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}

/* vertical align top */
nav.vertical ul li {
    display: block;
}

/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */
img {
    max-width: 100%;
}

/*--end reset--*/
/*#446aad*/
body {
    font-family: sans-serif;
    background: #44AD90 url(../images/bg.png) repeat fixed 0px 0px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #ffd700;
    font-weight: 100;
}

/*--main--*/
.main {
    padding: 3em 0 0;
}

.main-info {
    width: 50%;
    margin: 3em auto;
}

.weather-left {
    /*-- w3layouts --*/
    float: left;
    width: 49%;
    background: url(../images/1.jpg) no-repeat 0px 0px;
    text-align: center;
    background-size: cover;
}

.weather-left.weather-right {
    float: right;
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
}

.weather-text {
    padding: 1.5em 0 0;
}

.weather-text h3 {
    font-size: 1.8em;
    color: #fff;
    font-weight: 600;
    margin-bottom: .5em;
}

.weather-text h4 {
    font-size: 4em;
    color: #fff;
}

.weather-left.weather-grid3 {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    margin-top: 1em;
}

.weather-left.weather-right.weather-grid3 {
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
    margin-top: 1em;
}

/*--copyright--*/
.copyright {
    margin: 2em 0 1em;
    text-align: center;
}

.copyright p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
}

.copyright p a {
    color: #ffd700;
    transition: 0.5s all;
    /*-- agileits --*/
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.copyright p a:hover {
    color: #000;
}

/*--//main--*/
/*---- responsive-design -----*/
@media (max-width: 1366px) {
    .main-info {
        margin: 2em auto;
    }
}

@media (max-width: 1280px) {
    .main-info {
        width: 60%;
    }
}

@media (max-width: 1080px) {
    .main {
        padding: 2em 0 0;
    }

    .main-info {
        width: 68%;
    }

    .weather-text h4 {
        font-size: 3.5em;
    }

    h1 {
        font-size: 2.8em;
    }
}

@media (max-width: 1024px) {
    .main {
        padding: 2em 0 0;
    }

    h1 {
        font-size: 2.5em;
    }

    .main-info {
        width: 75%;
    }
}

@media (min-width: 1024px ) {
    .copyright {
        margin: 7em 0 1em;

    }

    .weather-left {
        min-height: 300px;
    }
}

@media (max-width: 991px) {
    .main-info {
        margin: 1.5em auto;
    }

    /*-- w3layouts --*/
}

@media (max-width: 800px) {
    .weather-left {
        width: 48.5%;
    }

    .weather-text h4 {
        font-size: 3.3em;
    }
}

@media (max-width: 768px) {
    .main-info {
        width: 80%;
    }
}

@media (max-width: 640px) {
    .weather-text {
        padding: 1em 0 0;
    }

    .weather-text h4 {
        font-size: 3em;
    }

    .weather-text h3 {
        margin-bottom: .2em;
    }

    canvas {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.3em;
    }
}

@media (max-width: 414px) {
    .main-info {
        width: 85%;
    }

    .weather-text h4 {
        font-size: 2.8em;
    }

    .weather-text h3 {
        font-size: 1.5em;
    }

    .copyright p {
        font-size: 0.9em;
        letter-spacing: 0px;
        padding: 0 1em;
    }

    /*-- agileits --*/
}

@media (max-width: 375px) {
    .weather-left {
        width: 100%;
        margin-top: 1em;
    }

    h1 {
        font-size: 2em;
    }

    .main-info {
        margin: 0em auto;
    }

    .main {
        padding: 1.5em 0 0;
    }

    .weather-text h4 {
        font-size: 2.7em;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 1.9em;
    }
}

/*--//responsive-design---*/