<!DOCTYPE html>
<html>
<head>
    <title> Weather Widget </title>
    <!--mobile-apps-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Modern Weather Widget template Responsive"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--//mobile-apps-->
    <!--Custom Theme files-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!--//Custom Theme files -->
    <!-- web-font -->
    <link href='//fonts.googleapis.com/css?family=Khand:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <!--//web-font-->
    <!--skycon-icons-->
    <script src="{{ url_for('static', filename='js/skycons.js') }}"></script>
    <!--//skycon-icons-->
</head>
<body>
<!-- main -->
<!-- macros -->
{% import 'macros.html' as macros %}
<!-- //macros -->
<div class="main">
    <h1>Weather Widget</h1>
    <div class="main-info">
        <div class="weather-left">
            <div class="weather-text">
                <h3>{{ info[0].city }}</h3>
                {{ macros.icons(info[0].weather) }}
                <h4>{{ info[0].temp }}°C</h4>
            </div>
        </div>
        <div class="weather-left weather-right">
            <div class="weather-text">
                <h3>{{ info[1].city }}</h3>
                {{ macros.icons(info[1].weather) }}
                <h4>{{ info[1].temp }}°C</h4>
            </div>
        </div>
        <div class="weather-left weather-grid3">
            <div class="weather-text">
                <h3>{{ info[2].city }}</h3>
                {{ macros.icons(info[2].weather) }}
                <h4>{{ info[2].temp }}°C</h4>
            </div>
        </div>
        <div class="weather-left weather-right weather-grid3">
            <div class="weather-text">
                <h3>{{ info[3].city }}</h3>
                {{ macros.icons(info[3].weather) }}
                <h4>{{ info[3].temp }}°C</h4>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <script>
        var icons = new Skycons({"color": "#ffd700"}),
                list = [
                    "clear-night", "clear-day", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;
        for (i = list.length; i--;) {
            var weatherType = list[i],
                    elements = document.getElementsByClassName(weatherType);
            for (e = elements.length; e--;) {
                icons.set(elements[e], weatherType);
            }
        }
        icons.play();
    </script>
    <!-- copyright -->
    <div class="copyright">
        <p>© 2016 Simply Weather Widget. Weather forecast from <a href="http://openweathermap.org/">
            openweathermap.org</a></p>
    </div>
    <!-- //copyright -->
</div>
<!-- //main -->
</body>
</html>
