{% macro icons(args) -%}
    {% if 'clear sky' in args %}
        <canvas class="clear-day" width="60" height="60"></canvas>

    {% elif 'few clouds' in args %}
        <canvas class="partly-cloudy-day" width="60" height="60"></canvas>

    {% elif 'clouds' in args %}
        <canvas class="cloudy" width="60" height="60"></canvas>

    {% elif 'rain' in args %}
        <canvas class="rain" width="60" height="60"></canvas>

    {% elif 'snow' in args %}
        <canvas class="snow" width="60" height="60"></canvas>

    {% elif 'mist' in args %}
        <canvas class="fog" width="60" height="60"></canvas>

    {% else %}
        <canvas class="partly-cloudy-day" width="60" height="60"></canvas>
    {% endif %}
{%- endmacro %}

